.md-typeset .tabbed-labels>label>a {
 
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	 
	font-family: ARIAL,"Microsoft Yahei","微软雅黑";
	font-size:12px;
}
.md-typeset .tabbed-labels>label {
	border-radius: 5px;
	height:25px;
	color:#3fc1c9;
	
	background:#fce38a;
	
    padding-top: 2px;
	padding-bottom: 0px;
	margin-top: 2px;
	margin-right: 5px;
	 
 
}
 
/* .md-nav__item {
    height:35px;
}
.md-nav__item>label {
    height:30px;
	padding:0px;
} */